# üîπ 1. Variables in Python

A **variable** is like a box where you store data.

- You create a variable by giving it a name and assigning it a value using `=`.
- Python automatically knows the type of data (no need to declare it like in Java or C++).

In [1]:
x = 10        # an integer
y = 3.14      # a float
name = "Roy"  # a string

üëâ Here, x, y, and name are variables.

---

# üîπ 2. Data Types

### (A) **Integer (`int`)**

Whole numbers, positive or negative, without decimals.

In [2]:
age = 25
year = -2025
print(type(age))   # <class 'int'>

<class 'int'>

### (B) **Float (`float`)**

Numbers with decimals.

In [3]:
pi = 3.14159
temperature = -7.5
print(type(pi))   # <class 'float'>

<class 'float'>

### (C) **String (`str`)**

Text inside quotes (`" "` or `' '`).

In [4]:
greeting = "Hello"
letter = 'A'
print(type(greeting))   # <class 'str'>

<class 'str'>

---

# üîπ 3. Using Variables

You can do math with numbers and join strings.

In [5]:
# Math
a = 10
b = 3
print(a + b)   # 13
print(a / b)   # 3.333...

# String operations
first = "Hello"
second = "World"
print(first + " " + second)  # Hello World

13
3.3333333333333335
Hello World

---

# üîπ 4. Converting Between Types

Sometimes you need to change a variable‚Äôs type.

In [6]:
x = 10
y = str(x)     # convert int ‚Üí str
z = float(x)   # convert int ‚Üí float

print(y)       # "10" (string)
print(z)       # 10.0 (float)

10
10.0



---

# üîπ 5. Practice üìù

Try these in your Python:

1. Create:
    - an `int` called `age`
    - a `float` called `height`
    - a `str` called `name`
2. Print them out.
3. Add 5 to `age`.
4. Concatenate `" is learning Python"` to `name`.

---